.personal-content-border {
    border-left: solid 1px #e1e1e1;
}
.patient-profile-content .static-header {
    font-size: 18px;
    margin-bottom: 1rem;
}
.doctor-header h4 {
    font-size: 30px;
}
.doctor-header p {
    font-size: 16px;
}
.custom-home-content-ap {
    background: #f4f6f8;
    padding : 30px!important;
}