.c-appointment-card{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    max-width: 100%;
    margin-bottom: -120px;
    &--shadow{
        box-shadow: 0px 5px 30px rgba(#000, .2);
    }
}