.c-appointment-form{
    &__doctor-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 10px;
        border-left: 1px solid #eee;
    }
    &__steps{
        padding: 0 10px;
    }
}