.c-appointment-form{
    &__doctor-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 10px;
        // border-left: 1px solid #eee;
    }
    &__steps{
        padding: 0 10px;
    }
    &__card-number{
         width: 100%;
    }
    &__card-icon{
        float: right;
        font-size: 25px;
    }
    &__doctor{
        text-align: center;
        width: 220px;
        max-width: 100%;
        &-avatar-wrapper{
            padding-bottom: 20px;
        }
    }
    &__card-number{
        margin: auto;
        font-size: 18px;
        display: flex;
        align-items: center;
    }
    &__card-icon{
        margin-left: auto;
    }
    &__step{
        .ant-list-item{
            cursor: pointer;
            &:hover{
                background-color: rgba(black, .03);
            }
        }
    }
    &__card-tgl-btn{
        margin-top: 20px;
    }
}

.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
  }
  
  .steps-action {
    margin-top: 24px;
  }
  .left-side-content-doctor-profile-ap {
      border-right: solid 1px #e8e8e8;
     
  }
  .left-side-content-doctor-profile-ap Form {
      padding: 20px;
  }
  .left-side-content-review-ap {
      text-align: left;
      margin-left: 10px;
  }
  .left-side-content-review-ap{
    &h3 {text-align: center;}
    &p {text-align: center;}
  } 
  
  
  .right-side-content-review-ap img{
     width: 50%; 
  }