/* @import url('https://cdn.lineicons.com/1.0.1/LineIcons.min.css'); */

.ap-appointment-form-custom .ant-steps-item::before{
    background-color: #f34b8c!important;

}
.ap-appointment-form-custom  .ant-steps-item-icon {
    border-color: #f34b8c!important;
    /* background: #f34b8c!important; */
    /* color: #fff!important; */
   
}
.ap-appointment-form-custom .ant-steps-item-active  {
    border-color: #f34b8c!important;
    /* background: #f34b8c!important; */
    /* color: #fff!important; */
   
}
.ap-appointment-form-custom .ant-steps-item-process .ant-steps-item-icon {
    background: #f34b8c;
}
.ap-appointment-form-custom .ant-steps-item-process .ant-steps-item-icon .ant-steps-icon {
    color: #fff!important;
}
.ap-appointment-form-custom .ant-steps-icon {
    color: #f34b8c!important;
   
}

.ap-appointment-details-btn {
    background-color: #f34b8c!important;
    border-color: #f34b8c!important;
    width: 30%!important;
}
.custom-ap-details-form-label .ant-form label {
    font-size: 18px;
    font-weight: bold;
    color: #874285;
}
.custom-ap-details-form-label .ant-form Input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    width: 85%;
}
.custom-ap-details-form-label .ant-form Input:hover {
    border-color : #874285;
}
.custom-ap-details-form-label .ant-form Input:focus {
    border-color : #874285;
    outline: none;
    box-shadow: none;
}
.custom-ap-details-form-label .ant-form Textarea {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    width: 85%;
}
.custom-ap-details-form-label .ant-form Textarea:hover {
    border-color : #874285;
}
.custom-ap-details-form-label .ant-form Textarea:focus {
    border-color : #874285;
    outline: none;
    box-shadow: none;
}
.below-para-steps-custom-ap {
    text-align: center;
    color: #9298ad;
    font-size: 18px;
}
.c-appointment-form__doctor-title {
    font-size : 22px;
    color: rgb(0, 35, 75);
}
.c-appointment-form__doctor-time p {
    color: rgb(0, 35, 75);
    font-weight: 500;
    margin-bottom: 0;
    font-size: 15px;
}
.middle-content-date {
    margin-left: auto;
}
.custom-card-list-ap .custom-card-list-data-ap{
border: none;
}
.custom-card-list-data-ap ul li:hover {
border-bottom: solid 1px #874285;
transition: all 0.3s;
transition: border 0.3s, left 0.3s
}
.second-step-custom-ap .anticon {
   
}
/* .second-step-custom-ap .icon-custom-classess:hover .anticon {
    color : red!important;
} */
/* .ant-col .anticon:hover{
    text-align : center;
    font-size: 40px;
    border: solid 1px #874285;
    border-radius: 50%;
    background:#874285;
    padding: 30px;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
} */
.second-step-custom-ap__icons {
    text-align : center;
    font-size: 40px;
    border: solid 1px #e5e5e5;
    border-radius: 50%;
    background: #e5e5e5;
    padding: 30px;
    color: #959595;
}
.second-step-custom-ap__iconhelp {
    margin-left: 5px;
    font-size: 20px;
    margin-top: 2px;
}
.second-step-custom-ap__icons:hover  {
    background:#874285;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
/* .icon-custom-classess .ant-col .anticon {
    color: #fff!important; */
/* } */
.second-step-custom-ap h2 {
    text-align: center;
    font-size: 30px;
}
.second-step-custom-ap__phone {
    float: right;
    font-size: 17px;
}
.second-step-custom-ap .video-phone-para {
    padding-top: 40px;
    font-size: 16px;
}
.second-step-custom-ap .second-step-custom-ap_why-para_ap {
    padding-left: 20px;
}
.visit-type-para-ap {
    font-size : 18px;
}
.review-custom-section-ap h2 {
    color: #874285;
    margin-bottom: 1rem;
    font-size: 25px;
}
.review-custom-section-ap p {
    margin-bottom: 1em;
    font-weight: 500;
    line-height: 1;
}
.review-custom-section-ap__checkbox-ap .ant-form-item label{
    color : #000!important;
}
.firstmodal-form-list-ap ul {padding-left: 0;}
.firstmodal-form-list-ap ul li {
    list-style: none;
}
/* .review-custom-section-ap .review-custom-section-ap__visit-col{
    float: right;
} */
/* .c-appointment-form__doctor-time .custom-doctor-time-span-ap {
    padding-bottom: 10px;
} */