.c-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px){
        width: 600px;
    }
    @media (min-width: 992px){
        width: 768px;
    }
    @media (min-width: 1024px){
        width: 992px;
    }
    @media (min-width: 1200px){
        width: 1100px;
    }
    @media (min-width: 1600px){
        width: 1400px;
    }
}