@import './doctors-profile';
@import './signUpPage';
@import '../../dr/components/pages/dashboard/dashboard';
@import '../../dr/components/objects/card/_card';
@import '../../dr/components/objects/timeline/timeline';
@import '../../dr/components/objects/availability/availability';
@import "../../dr/components/pages/patient/Single_patient";
@import "../../dr/components/layouts/layout";
// @import "../../components/payment/payment";
