$bannerHeight: 300px;
$bannerHeightMd: 600px;
$bannerHeightLg: 1000px;

// {
//     xs: '480px',
//     sm: '576px',
//     md: '768px',
//     lg: '992px',
//     xl: '1200px',
//     xxl: '1600px',
// }