.c-layout-header{
    &__col-user a{
        color: $main-color-1;
        margin-right: 10px;
        &:before{
            content: '';
            height: 10px;
            width: 10px;
            background: $main-color-1;
            position: relative;
            border-radius: 100%;
            top: 27px;
            /* right: 47px; */
            left: -14px;
            text-align: left;
            float: left;
        }
    }
    &__col-user img{
        
            width: 40px;
            border-radius: 100%;
            box-shadow: 0px 1px 0px 1px #ccc;
        
    }
    &__col-time{
        padding-left: 15px;
        & h3{
            margin-top: 25px;
        }
    }
   

}