.custom-sidebar-icon-ap img {
padding-right: 20px;
}
.custom-sidebar-icon-ap  .custom-footer-icon-ap {
    /* position: fixed!important; */
    /* top:800px!important; */
    /* margin-top: 200px!important; */
    position: relative;
    top: 430px;
   
}
.custom-sidebar-icon-ap  .custom-footer-icon-ap2 {
    /* position: fixed!important; */
    /* top:800px!important; */
    /* margin-top: 250px!important; */
   
}