.c-section{
    padding: 20px;
    &--above-banner{
        position: relative;
        margin-top: 100px - $bannerHeight;
        @media (min-width: 768px){
            margin-top: 100px - $bannerHeightMd;
        }
        @media (min-width: 1600px){
            margin-top: 100px - $bannerHeightLg;
        }
    }
    &--container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 768px){
            width: 600px;
        }
        @media (min-width: 992px){
            width: 768px;
        }
        @media (min-width: 1024px){
            width: 992px;
        }
        @media (min-width: 1200px){
            width: 1100px;
        }
        @media (min-width: 1600px){
            width: 1400px;
        }
    }
    &--bg-bule-alpha{
        background-color: rgba(skyblue, 0.5);
    }
    &--shadow{
        box-shadow: 0px 5px 30px rgba(#000, .2);
    }
}