.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
  }
  
  .steps-action {
    margin-top: 24px;
  }
  .left-side-content-doctor-profile-ap {
      border-right: solid 1px #e8e8e8;
     
  }
  .left-side-content-doctor-profile-ap Form {
      padding: 20px;
  }
  .left-side-content-review-ap {
      text-align: left;
      margin-left: 10px;
  }
  .left-side-content-review-ap h3 {text-align: center;}
  .left-side-content-review-ap h3 span{color: black;}
  .left-side-content-review-ap p {text-align: center;}
  .p-doctors-profile__title__ap {
      color: #874285;
  }
  .p-doctors-profile__text__ap {font-size: 20px!important;}
  .c-title__ap {font-size: 18px;}