.c-banner{
    width: 100%;
    height: $bannerHeight;
    @media (min-width: 768px){
        height: $bannerHeightMd;
    }
    @media (min-width: 1600px){
        height: $bannerHeightLg;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}