@import './drList/drCardLong' ; 
@import './appointment/appointmentSlider';
@import './appointment/AppointmentCard/appointmentCard';
@import './Banner/banner';
@import './Sections/section';
@import './Avatar/avatar';
@import './drList/doctorInfo';
@import './Container/container';