/* .selected {
    background-color: rgba(255, 236, 241);
    cursor: pointer;
    text-align: left;
    padding: 4;
    padding-left: 10px;
    font-size: 1rem;
    color: black;
    border-bottom: 1px solid rgb(243, 243, 244);
}



    .active {
        background-color: rgba(255, 236, 241);
        cursor: pointer;
        text-align: left;
        padding: 4;
        padding-left: 10px;
        font-size: 1rem;
        color: black;
        border-bottom: 1px solid rgb(243, 243, 244);
    } */
    .custom-sider-patient .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
        border-right: none!important;
    }