.c-multistep-update-profile__form-body_demo {
  min-height: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  margin-top: 20px;
  width: 700px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* Shared */
.button {
  border-radius: 100px;
}

/* Sections */
.section {
  padding: 2rem 0 2rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 3rem;
}

.required {
  color: #FF6000;
}

/* value-img */
.value-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* docs */
.docs-section {
  border-top: 1px solid #eee;
  margin-top: 30px;
  margin-bottom: 0;
}
.docs-terms {
  font-size: 1.2rem;
  letter-spacing: .2rem;
  font-weight: 800;
}

.fieldset-section {
  width: 90%;
  margin-left: 10px;
  margin-top: 10px;
  margin:0;
}

/* legend --- ---- --- */
.legend-section {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 800;
  border-style:none;
  border-bottom: 1px solid #E1E1E1;
  background-color: #fff;
  color: black;
  width:100%;
  margin-bottom:8px;
}
.legend-action {
  border-bottom: 4px solid #E1E1E1;
  background-color: #fff;
  position: relative;
  float: right;
  margin-left:5px;
}
.legend-action:hover {
  background-color: #f6f6f6;
  color: #33C3F0;
}
.legend-action.active {
  color: #33C3F0;
}
@media (min-width: 650px) {
  .legend-section {
    font-size: 1.6rem;
    letter-spacing: .2rem;
    margin-bottom:18px;
  }
}

/* navbar --- ---- */
.navbar {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 3rem;
  border-bottom: 4px solid #EEE;
}
.navbar + .docs-section {
  border-top-width: 0;
}
.navbar-list {
  list-style: none;
  margin-bottom: 0;
}
.navbar-item {
  position: relative;
  float: left;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  margin-right: .8rem;
  margin-left: 0;
  margin-bottom: 0;
  line-height: 4.2rem;
  border-style:none;
}
.navbar-item.right {
  float: right;
  margin-right: 0;
  margin-left: .8rem;
}
.navbar-link {
  text-decoration: none;
  color: #222;
  border-style:none;
}
.navbar-link.active {
  background-color: #f6f6f6;
  border: 0;
  border-bottom: 4px solid #33C3F0;
  color: #33C3F0;
}
.navbar-link:hover {
  background-color: #f6f6f6;
  border-bottom: 4px solid #33C3F0;
  color: #33C3F0;
}
@media (min-width: 550px) {
  .navbar {
    height: 4rem;
    width: 80%;
  }
  .navbar-item {
    font-size: 2rem;
    line-height: 5.6rem;
    margin-right: 2rem;
  }
}

/* Content link */
.content-link {
  background: #eee;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .1rem;
  margin: 5px;
  text-decoration: none;
  color: #33C3F0;
}
.content-link:hover {
  color: #33C3F0;
  border-bottom: 2px solid #33C3F0;
}
@media (min-width: 550px) {
  .content-link {
    font-size: 1.8rem;
  }
  .content-link:hover {
    border-bottom: 3px solid #33C3F0;
  }
}

/* footer */
.app-footer {
  color: silver;
  position: relative;
  line-height: 0.1rem;
  margin-top: 6rem;
}
