.c-doctor-info{
    width: 570px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    &__avatar{
        margin-bottom: 20px;
    }
    &__name,&__address{
        color: #fff;
        max-width: 100%;
        padding-left: 50px;
        font-family: $mainFont;
    }
    &__name{
        font-size: 24px;
        text-transform: capitalize;
    }
    &__address{
        width: 350px;
    }
}