.c-dr-card-long{
    margin-bottom: 20px;
    &__description{
        text-align: left;
        padding-left: 15px;
    }
    &__title{
        font-size: 20px;
        display: block;
        margin-bottom: 0;
    }
    &__designation{
        font-size: 16px;
        color: #ccc;
    }
}


